#container {
  width: 100px;
  height: 100px;
}

.bg-green {
  background-color: green;
}

button,
input[type="submit"] {
  background-color: rgb(2, 2, 2);
  color: white;
  padding: 5px;
  border-radius: 5px;
  outline: none;
  box-shadow: none;
  border: 0;
}

button:hover,
input[type="submit"]:hover {
  cursor: pointer;
  outline: 1px solid grey;
}
