input {
  margin-top: 10px;
}

.container {
  background-color: gray;
  width: 100px;
}

button,
input[type="submit"] {
  background-color: rgb(83, 83, 148);
  color: white;
  padding: 5px;
  border-radius: 10px;
  outline: none;
  box-shadow: none;
  border: 0;
}

button:hover,
input[type="submit"]:hover {
  cursor: pointer;
  outline: 1px solid grey;
}
